# MCCOutlet Configuration
# Measurement Computing DAQ to Lab Streaming Layer

[Stream]
name=MCCDaq
type=RawBrainSignal

[Device]
device_index=0
low_channel=0
high_channel=5
sample_rate=16384
# range=6
# scaled=1
