# MCCOutlet Configuration
# Measurement Computing DAQ to Lab Streaming Layer

[Stream]
name=MCCDaq
type=RawBrainSignal

[Device]
device_index=0
low_channel=0
high_channel=7
sample_rate=44100
# range=6
# scaled=1
